################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StationeersShortcuts/bin/Debug
/src/StationeersShortcuts/obj/Release/StationeersShortcuts.csproj.CoreCompileInputs.cache
/src/StationeersShortcuts/obj/Release
/src/StationeersShortcuts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/StationeersShortcuts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/StationeersShortcuts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.pdb
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.dll
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.csprojAssemblyReference.cache
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.csproj.FileListAbsolute.txt
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.csproj.CoreCompileInputs.cache
/src/StationeersShortcuts/obj/Debug/StationeersShortcuts.csproj.CopyComplete
/src/StationeersShortcuts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/StationeersShortcuts/ShortcutsPlugin - Copy.cs
/src/StationeersShortcuts/StationeersShortcuts - Copy.csproj_
/src/.vs/StationeersShortcuts/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/StationeersShortcuts-Recover/v15/.suo
/.vs/slnx.sqlite
/src/.vs/StationeersShortcuts/v15/Server/sqlite3/storage.ide-wal
/src/.vs/StationeersShortcuts/v15/Server/sqlite3/storage.ide-shm
/src/.vs/StationeersShortcuts/v15/Server/sqlite3/storage.ide
/src/.vs/StationeersShortcuts/v15/Server/sqlite3/db.lock
/src/.vs/StationeersShortcuts/v15/Server/sqlite3
/src/Debug - Shortcut.lnk
/Debug - Shortcut.lnk
